!!!
%html{lang: "en"}
  %head
    %title Bookshelf
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body

    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            = link_to "Bookshelf", bookshelves_path
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li.active
            = link_to 'About', :about
          %li.has-dropdown
            - if user_signed_in?
              %a{href: "#"}   
                Logged in as 
                %strong= current_user.email
              %ul.dropdown
                %li
                  = link_to 'Edit profile', edit_user_registration_path
                %li
                  = link_to "Logout", destroy_user_session_path, method: :delete

            - else
              %a{href: "#"}   
                You new?
              %ul.dropdown
                %li
                  = link_to 'Sign up!', new_user_registration_path
                %li
                  = link_to "Sign in", new_user_session_path

        / Left Nav Section
        %ul.left
          %li
            = link_to 'Books', books_path
          %li
            = link_to 'Back', :back

    .row
      .large-12.columns    
        - if notice
          %p.alert.alert-success= notice
        - if alert
          %p.alert.alert-danger= alert
    .row
      %h1
        = link_to 'Bookshelf App', bookshelves_path
    .row
      = yield

    = javascript_include_tag "application"
